@mixin responsive($breackpoint) {
	@if $breackpoint == media__400 {
		@media only screen and (max-width: 400px) { @content };
	}
	@if $breackpoint == media__540 {
		@media only screen and (max-width: 540px) { @content };
	}
}

.product {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	max-width: 240px;
	width: 100%;
	border: 2px solid #008f94;
	border-radius: 10px;
	margin-bottom: 20px;

	@include responsive(media__540) {
		max-width: none;
	}
	.div__img {
		width: 100%;
		height: 150px;

		@include responsive(media__540) {
			height: auto;
		}
		img {
			border-radius: 8px 8px 0px 0px;
		}
	}
	.container {
		margin: 5px;
		.div__titel {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			p {
				cursor: pointer;
				font-weight: 500;
			}
		}
		.div__price {
			display: flex;
			justify-content: space-between;
			align-items: center;
			p {
				cursor: pointer;
				font-weight: 500;
			}
			.div__count {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 20%;

				@include responsive(media__540) {
					width: 11%;
				}
				@include responsive(media__400) {
					width: 15%;
				}
				.count {
					cursor: pointer;
					font-weight: 700;

					@include responsive(media__540) {
						margin-bottom: 3px;
					}
				}
				.arrow {
					cursor: pointer;
				}
			}
		}
	}
}
