@mixin responsive($breackpoint) {
	@if $breackpoint == media__540 {
		@media only screen and (max-width: 540px) { @content };
	}
	@if $breackpoint == phone__680 {
		@media only screen and (max-width: 680px) { @content };
	}
	@if $breackpoint == tab__land__834 {
		@media only screen and (max-width: 834px) { @content };
	}
}

.checkboxs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
	height: 26px;
	border: 2px solid #008f94;
	border-radius: 10px;
	padding: 3px;

	@include responsive(tab__land__834) {
		width: 50%;
	}
	@include responsive(phone__680) {
		order: 3;
		margin-top: 10px;
		width: 100%;
	}
	.div__checkbox {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.checkboxoff {
			width: 15px;
			height: 15px;
			cursor: pointer;
			border: 1px solid #008f94;
		}
		.checkboxonn {
			width: 15px;
			height: 15px;
			cursor: pointer;
			border: 1px solid #008f94;

			background-image: url(../../../images/galochka.png);
			background-position-x: 1.1px;
   			background-position-y: 2px;
			background-repeat: no-repeat;
			background-size: 90%;
		}
		label {
			margin-left: 3px;
			font-weight: 500;
			font-size: 15px;
			cursor: pointer;
		}
	}
}
